body {
  margin: 0;
  font-size: 1em;
  font-family: verdana;
}
.bg {
  background: url('image/webs\ \(2\).png');
  filter: blur(0.25px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-position: left;
}
#navbar {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
#navbar a {
  float: left;
  width: 25%;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  color: rgb(100,100,100);
  text-align: center;
  text-decoration: none;
  font-size: 1.1em;
}
#navbar a:hover {
  background-color: rgba(255 , 255 , 255, 0.5);
  color: rgb(100,100,100);
}

@media screen and (max-width: 2000px) {
  #navbar a {
    float: none;
    width: auto;
      
  }
}

.navlinks {
    width: 50%;
    text-align: center;
    margin: auto;
}
.content {
  padding: 16px;
}
.contentblock {
  color: rgb(10,10,10);
  width: 40%;
  margin-top: 2em;
  margin-bottom: 2em;
  margin: auto;
  padding: 1em;
  background-color: rgba(255 , 2550 , 255 , 0.8);
  box-shadow: 0px 0px 2px 1px rgba(0,0,0, 0.2);
}
.links{
  color: rgb(100,100,150);
  text-decoration: none;
}
.links:hover{ text-decoration: underline; }
.footer{
  background-color: rgba(200,200,200, 0.5);
  padding-top: 1em;
  text-align: center;
  display: block;
  font-size: 0.8em;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* Styling for the gallery */
.row {
    display: flex;
    text-decoration: none;
    flex-wrap: wrap;
}
.row a {
    color: rgb(50,50,50);
}
.row img {
    height: auto;
    width: 30%;
    margin: 0.5em;
        
}
.column {
  flex: 30%;
  max-width: 30%;
    margin-left: auto;
    margin-right: auto;
  padding:0;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* makes a two column-layout*/
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* makes a singular column */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Character site styling */
.charactertab {
  overflow: hidden;
  background-color: rgba(0,0,0,0);
}

.charactertab button {
  background-color: inherit;
  float: left;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-width: 1px;
  border-bottom-color: rgb(0,0,0,0.2);
  border-right: none;
  border-top: none;
  border-left: none;
}

.charactertab button:hover {
  background-color: rgba(0,0,0,0.1);
}

.charactertab button.active {
  background-color: rgba(50,150,50,0.5);
  color: white;
}

.charactercontent {
  display: none;
  height: auto;
  overflow: auto;
  padding: 6px 12px;
}

.charactercontent img {
    width: 100%;
}

.profileimage {
    padding: 0px 10px;
    width: 50%;
    float: right;
}

.profiletext {
    width: 50%;
    float: inherit;
}

.profiletext a {
    text-decoration: none;
    padding: 10px 16px;
    background-color: white;
    border-width: thin;
    border-style: solid;
    border-color: rgba(0,0,0,0.5);
    border-radius: 0.5em;
    color: rgb(50,50,50);
}
.profiletext a:hover {
    background-color: rgb(240,240,240);
}


