body {
  margin: 0;
  font-size: 1em;
  font-family: verdana;
  background-image: url(image/header.png);
  background-position-y: -10em;
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-attachment: fixed;
}
.header {
  width: 100%;
}
#navbar {
  overflow: hidden;
  background-color: rgba(0,0,0,0.2);
}
#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbar a:hover {
  background-color: rgba(255 , 255 , 255, 0.5);
  color: black;
}
.content {
  padding: 16px;
  text-align: left;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content { padding-top: 60px; }
.tab {
    overflow: hidden;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(150,150,150);
    background-color: white;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover { background-color: rgb(230,230,230); }
.tab button.active { background-color: rgb(230,230,230); }
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
}
img {
  max-width: 100%;
  height: auto;
}
.contentblock {
  color: rgb(10,10,10);
  width: 40em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin: auto;
  padding: 1em;
  background-color: rgba(255 , 2550 , 255 , 0.8);
  box-shadow: 0px 0px 2px 1px rgba(0,0,0, 0.2);
}
.links{
  color: rgb(100,100,150);
  text-decoration: none;
}
.links:hover{ text-decoration: underline; }
.footer{
  background-color: rgb(200,200,200);
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  padding-left: 2em;
  display: block;
}
.row:after{
  width: 100%;
    content: "";
    display: table;
    clear: both;
}
.column{
  font-size: 0.9em;
  display: inline-block;
  padding-right: 0em;
  width: 33.33%;
  height: 0em;
  padding-bottom: 2em;
  background-color: rgb(200,200,200);
}
.column a{
  text-decoration: none;
  color: grey;
  padding: 0em;
  padding-right: 0.25em;
  padding-left: 0.25em;
  width: 100%;
}
.column a:hover{ text-decoration: underline; }
.turtle{
  margin: 0em;
  padding: 0em;
  float: right;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

